{% extends "base.html" %}
{% load humanize %}

{% block content %}

  <div class="wrapper">
    <div class="box">
        <div class="row">
            <!-- sidebar -->
            <div class="column col-sm-2">
               
            </div>
            <!-- /sidebar -->
          
            <!-- main -->
            <div class="column col-sm-10" id="main">
                <div class="padding">
                    <div class="full col-sm-10">
                      
                        <!-- content -->
                        
                        <div class="col-sm-12" id="featured">   
                          <div class="page-header text-muted">
                          <center><b>Today</b></center>
                          </div> 
                        </div>
                        {% for content in object_list %}
                        <!--/top story-->
                        <div class="row">    
                          <div class="col-sm-9">

                            <h3>{{ content.title }}</h3>
                            <h4>
                              {% if content.category == 0 %}
                                <span class="label label-success">Article</span>
                              {% elif content.category == 1 %}
                                <span class="label label-warning">Video</span>
                              {% elif content.category == 2 %}
                                <span class="label label-info">Music</span>
                              {% elif content.category == 3 %}
                                <span class="label label-primary">Book</span>
                              {% endif %}
                            <small class="text-muted">{{ content.submitted_on |naturaltime }} <a href="content/{{ content.slug }}" class="text-muted">Read More</a></small>
                            </h4>
                          </div>
                          <div class="col-sm-2">
                            <a href="http://twitter.com/{{ content.submitted_by.userprofile.twitter_handle }}" class="pull-right"><img src="{{ content.submitted_by.userprofile.twitter_image }}" class="img-circle"></a>
                            <p style="margin-left:20px">@{{ content.submitted_by.userprofile.twitter_handle }}</p>
                          </div> 
                        </div>
                        {% endfor %}
                        
                        
                        
                        <div class="col-sm-12">
                          <div class="page-header text-muted divider">
                            Collections Coming soon
                          </div>
                        </div>
                      
                        <div class="row">    
                          <div class="col-sm-4 text-center">
                            <h4>Short Films</h4>
                            <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h4>Documentries</h4>
                            <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h4>Must read Books</h4>
                            <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
                          </div>
                        </div>
                      
                      
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
        </div>
    </div>
</div>

{% endblock %}

